<launch>
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>

    <!-- <param name="/use_sim_time" value="true"/> -->

    <node name="unity_endpoint" pkg="ros_tcp_endpoint" type="endpoint" output="screen">
        <param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
    </node>

    <node name="unity_manual_control_filtered_republisher" pkg="ros_tcp_endpoint" type="republish_manual_control.py" output="screen" />

    <node name="republish_heading_orientation_from_imu" pkg="ros_tcp_endpoint" type="republish_heading_orientation_from_imu.py" output="screen" />

    <!-- <node name="unity_image_compressor_node" pkg="image_transport" type="republish" 
		args="raw in:=/sensor/camera compressed out:=/sensor/camera" output="screen" />

    <node name="unity_image_compressor_node2" pkg="image_transport" type="republish" 
		args="raw in:=/sensor/arm_camera compressed out:=/sensor/arm_camera" output="screen" /> -->

    <include file="$(find yolo_object_detection)/launch/yolo_inference.launch"/>
</launch>
